## Импорты и данные

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('synthetic_gmv_data_1.1.csv')
df

            user_id   gmv
0        guo0pdwqvg   506
1        guo0pdwqvg   760
2        guo0pdwqvg   633
3        guo0pdwqvg   506
4        guo0pdwqvg   760
...             ...   ...
1601988  3vbm7rz5vu   910
1601989  3vbm7rz5vu   809
1601990  3vbm7rz5vu  1011
1601991  npbrhympo0  1349
1601992  npbrhympo0  1124

[1601993 rows x 2 columns]

In [3]:
agg_df = df.groupby('user_id').agg({'gmv': 'sum'})

In [4]:
agg_df

             gmv
user_id
0001ffmxo2  3766
000c2glbkl  2456
000c5yxi7t   700
000eg9ozf2  5082
000h7yt1ve  2539
...          ...
zzygjcccc6  4024
zzysosye5a  2161
zzz477h6q2  1995
zzz7zfdfn0  9539
zzz9ykyfbt   943

[392718 rows x 1 columns]

# M

In [4]:
round(agg_df.gmv.mean(), 3), round(agg_df.gmv.var(), 3)

(2750.847, 3646228.409)

# N. MDE

In [19]:
import scipy.stats as stats
import math

In [ ]:
# sigma_1 = sigma_2 - дисперсии равны
# c = 3t - контроль в три раза больше теста

var = round(agg_df.gmv.var(), 3)
mean = round(agg_df.gmv.mean(), 3)
mde = 0.01
alpha = 0.05
beta = 0.2

k = 3
effect = mean * mde

In [20]:
def size_mde(sigma, effect, k=1, alpha=0.05, beta=0.2):
    dist = stats.norm(loc=0, scale=1)
    const = (dist.ppf(1-alpha/2) + dist.ppf(1-beta))**2
    var = sigma**2
    return const * (1+k)*var / (effect**2)

In [24]:
m = size_mde(sigma=np.sqrt(var), k=k, effect=effect, alpha=alpha, beta=beta)
n = m / k
math.ceil(n), math.ceil(m), math.ceil(n)+math.ceil(m)

(50427, 151280, 201707)